<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>妖怪大パニックからの脱出　〜妖怪を封印せよ〜 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/teamlogo.png" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/main_visual.png" alt="妖怪大パニックからの脱出　〜妖怪を封印せよ〜"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span><ruby>解読<rt>かいどく</rt></ruby>しよう！</h2>
            <p class="text-center">敵を<ruby>倒<rt>たお</rt></ruby>すにはまず敵を知るところから。<br>
              あなたはSNSで町の<ruby>状況<rt>じょうきょう</rt></ruby>について<ruby>検索<rt>けんさく</rt></ruby>した。町内会の公式アカウントにそれらしい情報が合ったので<br>
              <ruby>詳<rt>くわ</rt></ruby>しく見ようとしたけれど、
              妖怪の<ruby>妨害<rt>ぼうがい</rt></ruby>で<ruby>文字化<rt>もじば</rt></ruby>けしてしまって読むことができない。<br>
              けれど、これは<ruby>法則<rt>ほうそく</rt></ruby>のないバグじゃない。心を持った妖怪がやったことだ。<br>
              だったら必ず手がかりがあるはず。<br>
               <br>
              文字化けを解読して<ruby>封印<rt>ふういん</rt></ruby>のヒントを<ruby>得<rt>え</rt></ruby>よう！</p>
            <p class="text-center">困ったときは、ヒントがある。なるべく見ないようにゲームを進めていこう。</p>
  
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/quiz_1.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>解読した文字を入力しよう！</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：１  クリア！</div>
              <div class="clear-message__content">文字化けを<ruby>解読<rt>かいどく</rt></ruby>した！<br>
                どうやら<ruby>大昔<rt>おおむかし</rt></ruby>にも同じようなことがあったらしい。妖怪は災害を引き起こす生き物を作り出す力を持っていて、<br>
                そのせいで町が<ruby>更地<rt>さらち</rt></ruby>になってしまったことがあるようだ。<br>
                けれどまだ希望はある。妖怪を封印するための<ruby>呪文<rt>じゅもん</rt></ruby>が、町のどこかに隠されているそうだ。<br>
                A君に<ruby>指示<rt>しじ</rt></ruby>を出して呪文を見つけよう！<br>
                </div>
              <button v-on:click="nextStage('stage1')" on/click="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage1']" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span><ruby>呪文<rt>じゅもん</rt></ruby>を<ruby>解読<rt>かいどく</rt></ruby>せよ！</h2>
              <p class="text-center">A君が町に出てみると、あちこちに火がついている。<br>
                全ての<ruby>建物<rt>たてもの</rt></ruby>が灰になってしまいかねない<ruby>勢<rt>いきお</rt></ruby>いだ。<br>
                けれど、そんな<ruby>状況<rt>じょうきょう</rt></ruby>で、まだ<ruby>原型<rt>げんけい</rt></ruby>をとどめている和風のお<ruby>屋敷<rt>やしき</rt></ruby>が１軒。
                きっとそこだ！<br>
                屋敷に入ってみると<ruby>廊下<rt>ろうか</rt></ruby>がずっと続いて、その<ruby>突<rt>つ</rt></ruby>き<ruby>当<rt>あ</rt></ruby>たりに本棚がある。<br>
                それが地震のせいで崩れて、奥に隠されていた部屋が見えている。<br>
                その部屋の壁に、いかにも呪文の答えが隠されているらしい<ruby>壁画<rt>へきが</rt></ruby>がある。<br>
                近寄ろうとしたら、ついに火の手が回ってきた！<br>
                </p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>呪文を入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE2-1　ここから -->
                <div class="column">
                  <!-- STAGE2-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/quiz_2_2.png" alt="">
                  </figure>
                  <!-- STAGE2-1問題セクション　ここまで -->
                  <!-- STAGE2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  <!-- STAGE2-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE2-1　ここまで -->

<!-- STAGE2-2 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q2']" v-on:answer-input="answerInput($event, 'stage2', 2)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                　
                </div>

2-2追加ここまで -->
                  
<!-- STAGE2-3 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q3']" v-on:answer-input="answerInput($event, 'stage2', 3)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>

                </div>

2-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2　クリア！</div>
              <div class="clear-message__content">A君はとっさにハンカチで口と鼻を<ruby>覆<rt>おお</rt></ruby>い、<ruby>姿勢<rt>しせい</rt></ruby>を低くして<ruby>煙<rt>けむり</rt></ruby>を吸わないようにしつつ<ruby>壁画<rt>へきが</rt></ruby>にカメラを向けた。<br>
                あなたは<ruby>推理<rt>すいり</rt></ruby>し、そして答えを出す。<br>
                『おはしも』だ！<br>
                おさない、はしらない、しゃべらない、もどらないの４箇条を組み合わせた<ruby>災害対策<rt>さいがいたいさく</rt></ruby>の言葉。<br>
                これがぬらりひょんを<ruby>封印<rt>ふういん</rt></ruby>するための呪文だ！<br>
                </div>
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
          
      </div>
      <!-- STAGE2　ここまで -->

      <!-- STAGE3　ここから -->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">

        <!-- STAGE3-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span><ruby>特定<rt>とくてい</rt></ruby>しよう！</h2>
            <p class="text-center">あなたはA君と<ruby>協力<rt>きょうりょく</rt></ruby>、見事に封印の呪文を手に入れた!<br>
              屋敷から出た<ruby>瞬間<rt>しゅんかん</rt></ruby>、強い揺れがあなたを<ruby>襲<rt>おそ</rt></ruby>う。足元が<ruby>確<rt>たし</rt></ruby>かでなくなってしまうほど強い揺れだ。<br>
              建物が<ruby>豆腐<rt>とうふ</rt></ruby>かプリンのように揺れている。まるで<ruby>悪夢<rt>あくむ</rt></ruby>だ！<br>
              ぬらりひょんの場所はまだ分からないけれど、目的は人間への<ruby>復讐<rt>ふくしゅう</rt></ruby>のようだ。<br>
              だったら、人がたくさん集まる場所に向かうはずだ。地震のときに人が<ruby>避難<rt>ひなん</rt></ruby>する場所といえば......？
              </p>
            <figure class="image__container">
              <img src="assets/images/quiz_3_2.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE3-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを漢字で入力しよう！</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>

            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE3-1解答入力セクション　ここまで -->

<!-- STAGE3-2問題セクション を追加

          <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
            <answer-input v-bind:correct="correctAnswer['stage3']['q2']" v-on:answer-input="answerInput($event, 'stage3', 2, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
      　　
STAGE3-2追加ここまで -->

          
<!-- STAGE3-3問題セクション　を追加
        <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>

            <answer-input v-bind:correct="correctAnswer['stage3']['q3']" v-on:answer-input="answerInput($event, 'stage3', 3, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>

STAGE3-3追加　ここまで -->

<section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--gray">
  <div class="container">
    <div class="clear-message">
      <div class="clear-message__title">STAGE：3　クリア！</div>
      <div class="clear-message__content">あなたはみんなが「<ruby>建物<rt>たてもの</rt></ruby>の無い広い場所」に<ruby>避難<rt>ひなん</rt></ruby>すると推理し、A君を校庭へ向かわせた。<br>
        A君が校庭にたどり着くと、やっぱり大勢の人が避難していた。<br>
        そして、その人たちを追い詰めているぬらりひょんの姿が!<br>
        これで最後だ。<br>
        A君がツボを構えて呪文を唱えようとしたとき、<ruby>瓦礫<rt>がれき</rt></ruby>になった建物の向こうに見える海の<ruby>水平線<rt>すいへいせん</rt></ruby>がグッと持ち上がる。<br>
        災害を<.<ruby>司<rt>つかさど</rt></ruby>る妖怪としての最後の抵抗、津波だ！<br>
        </div>
        <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage4'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
    </div>
  </div>
</section>
<!-- STAGE3クリア画面　ここまで -->
      </div>
      <!-- STAGE3　ここまで -->

           <!-- STAGE4　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage3']" id="sectionStage4" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：4</span>呪文を唱えよう！</h2>
              <p class="text-center">津波は車よりも速く校庭へ<ruby>迫<rt>せま</rt></ruby>って来ている。<br>
                瓦礫が巻き込まれていて、波というより巨大な壁だ。<br>
                みんなが屋上を目指して校舎へ走り出したとき、ぬらりひょんがA君に黒い光を投げつけた。<br>
                すると、A君は一瞬で石像になってしまった。息をしていない。心臓の音が、少しずつ弱まっていく。<br>
                すると、ライブ映像の中央に問題が現れた。 呪いを解くための問題だ。<br>
                ぬらりひょんは、「解けるものなら解いてみろ」とでも言うように笑っている。<br>
                最後の推理だ!　　A君を解放し、ぬらりひょんを封印しよう！<br>
                </p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：4</span>キーワードを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE4-1　ここから -->
                <div class="column">
                  <!-- STAGE4-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/quiz_4_2.png" alt="">
                  </figure>
                  <!-- STAGE4-1問題セクション　ここまで -->
                  <!-- STAGE4-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage4']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1, 'final')"></answer-input>
                  <a class="link-hint" href="hint4.html" target="hint4">ヒントをみる ></a>
                  <!-- STAGE4-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE4-1　ここまで -->


              </div><!-- /.row -->

            </div>
          </div>
        </section>
      </div>
      <!-- STAGE4　ここまで -->

    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：心斎橋キャンパス　Eチーム</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
